.kit-text{  
    background-image: url(icons/pen.gif) !important;    
    background-attachment: scroll !important;     
    padding-left: 15px !important;    
    background-position: 3px 50% !important;   
    background-repeat: no-repeat !important;  
} 
.kit-text-im{  
	vertical-align:middle;  
    text-align:center;
    color:red; 
} 
.kit-alarmdispatch{  
	background-image: url(icons/alarm_dis.png) !important;    
    background-attachment: scroll !important;    
    background-repeat: no-repeat !important; 
    width:120px;
    height:110px;
}
.kit-line {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.kit-grid-handle{
	padding: 2px 0 2px 16px;
    cursor:pointer;
    background:url('icons/btn/repair.png') no-repeat center center;
}

.kit-btn-open{
	background:url('icons/btn/tick.png') no-repeat center center;
}
.kit-btn-close{
	background:url('icons/btn/stop.png') no-repeat center center;
}

.kit-btn-edit{
    background:url('images/btn/edit.png') no-repeat center center;
}

.kit-btn-del{
    background:url('images/btn/delete.png') no-repeat center center;
}

.kit-btn-add{
    background:url('images/btn/add.png') no-repeat center center;
}
.kit-btn-view{
    background:url('images/btn/search.png') no-repeat center center;
}


.kit-img-btn{
    margin: 0 5px;
    padding: 2px 0 2px 16px;
    cursor:pointer;
}


